<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Taschenrechner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5D1A47E1F198EE20052420D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D1A4921F198EE20052420D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D1A49D1F198EE20052420D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
